import type { HTMLProps, ReactNode } from 'react';
import styles from './{{componentName}}.module.scss';

export type {{capitalize componentName}}Props = {
    children?: ReactNode;
};

const {{capitalize componentName}} = (props: {{capitalize componentName}}Props) => {
    const { children } = props;

    return <div {...props} className={`${styles.container} ${props.className || ''}`}>{children}</div>;
};

export default {{capitalize componentName}};
